/* .btn {
  display: block;
} */

#CSS {
  display: none;
}
#Csharp {
  display: none;
}
#Java {
  display: none;
}
#PHP {
  display: none;
}
#Ruby {
  display: none;
}
h1 {
  font-weight: bold;
  font-size: 200%
}
img {
    opacity: 0.5;
    filter: alpha
}
