/* .btn {
  display: block;
} */

#answerCSS {
  display: none;
}
#answerCsharp {
  display: none;
}
#answerJava {
  display: none;s
}
#answerPHP {
  display: none;
}
#answerRuby {
  display: none;
}
h1 {
  font-weight: bold;
  font-size: 200%
}
